.burgerMenu {
    position: fixed;
    top: 0;
    right: 0;
    width: 25vw;
    height: 100%;
    box-shadow: 0 0.625rem 1.25rem rgba(191, 219, 254, 0.5);
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    gap: 1.5rem;
    animation: slideIn 0.3s ease forwards;
}

@keyframes slideIn {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

.closeBtn {
    align-self: flex-end;
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--logo-hover-color);
    background: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.2s;
    line-height: 1;
}

.closeBtn:hover {
    color: var(--logo-hover-color);
}

.burgerMenuList {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.burgerLink {
    font-size: clamp(1rem, 1vw + 0.75rem, 1.2rem);
    font-weight: 500;
    text-decoration: none;
    color: var(--logo-hover-color);
    padding: 0.5rem 0;
    transition: color 0.2s;
    text-align: center;
}

.burgerLink:hover {
    color: #d4af37;
}

.divider {
    width: 100%;
    height: 2px;
    background: var(--logo-hover-color);
    margin: 1rem 0;
}

.burgerUserContainer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: flex-start;
    align-items: center;
}

.burgerUserAvatar {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
}

.burgerUserInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}


.burgerUserWelcome {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.7);
}

.burgerUserEmail {
    font-size: clamp(6px, 14px, 1.2rem);
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-all;
    text-align: center;
}
.burgerUserLogoutBtn {
     font-size:  0.8rem;
    cursor: pointer;
    background: var(--menu-color);
    border: 1px solid #d4af37;
    padding: 0.6rem ;
    border-radius: 20px;
    color: var(--logo-hover-color);
}