.header {
    display: flex;
    width: 100vw;
    height: 10vh;
    max-height: 4.375rem;
    box-shadow: 0 0.25rem 0.75rem rgba(191, 219, 254, 0.5);
    align-items: center;
    background-color: rgba(0,0,0,0.1);
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    max-width: 100%;
    height: 80px;
    color: white;
    position: relative;
    z-index: 10;
}

.logoLink {
    font-family: var(--font-imperial),serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    width: auto;
    font-weight: 700;
    background: var(--logo-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logoLink:hover {
    background: linear-gradient(90deg, var(--logo-hover-color) 30%, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.logoImage {
    width: 60px;
    height: 60px;
    padding: 5px;
    border-radius: 50%;
    font-weight: 700;
}

.logoTitle {
    font-family: var(--font-imperial), cursive;
    margin: 0;
    font-size: 1.5rem;
}

.menuList {
    display: none;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem;
    width: auto;
}

.rightBlock {
    display: none;
    justify-content: flex-end;
    align-items: center;
}

.authLinks {
    display: flex;
    gap: 0.8rem;
}

.authLinks a {
    color: var(--color-white);
    text-decoration: none;
}

.authLinks a:hover {
    color: #d4af37;
}

.burger {
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    background: none;
    border: none;
}

.burgerLine {
    width: 24px;
    height: 2px;
    background-color: var(--color-white);
    transition: all 0.3s ease;
}

.navLink {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
}

.navLink:hover,
.active {
        background: var(--color-fav);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow:
        0 0 8px rgba(212, 175, 55, 0.6),
        0 0 15px rgba(212, 175, 55, 0.4);
}

.active::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #f5e6a1, transparent);
    box-shadow: 0 0 10px #f5e6a1;
}

.navLink:hover,
.active {
    color: #d4af37;
    text-shadow: 0 0 10px rgba(212, 175, 55, 0.5);
}


@media (min-width: 1024px) {
    .menuList {
        display: flex;
        width: 29%;
    }
    .rightBlock {
        display: flex;
        width: 30%;
    }
    .burger {
        display: none;
    }
    .logoTitle {
        font-size: 2.4rem;
    }
}

@media (min-width: 1280px) {
    .logoTitle {
        font-size: 2.4rem;
        letter-spacing: 0.1em;
    }
}