:root {
   --font-playfair: "Playfair Display", serif;
   --font-imperial: "Imperial Script", cursive;--font-roboto: "Roboto", sans-serif ;
     --color-disabled: #000000;
    --color-border: #bf8282;
    --color-text: #926F34;
    --color-badgeId: #f5e6a1;
    --color-noposter: #d4af37;
    --color-white: #ffffff;
    --color-container: #1f2937;
    --color-bg-dark: #4d3a1c;
    --color-bg-light: #f5f5f5;
    --color-text-muted: #21190c;
    --color-fav:linear-gradient(
    90deg,
    #7a5c1e,
    #f5e6a1,
    #f5e6a1,
    #f5e6a1,
    #7a5c1e
  );
    --reverse-color: linear-gradient(
    90deg,
    #000 0%,
    #000 30%,
    #1f2937 50%,
    #000 70%,
    #000 100%
);
    --color-background:linear-gradient(90deg, #ae8625, #f7ef8a, #d2ac47, #edc967)
}
html {
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: border-box;
}

li, ul {
    list-style: none;
}
body {
    font-family: var(--font-playfair), serif;
    width: 100%;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin: 0 auto;
    scroll-behavior: smooth;
    min-height: 100vh;
    overflow-x: hidden;
}

 a {
    text-decoration: none;
}


 input, textarea, select, button {
 font-family: var(--font-playfair), serif;
  font-weight: 600;
  font-style: italic;
}
 html.light {
     --badge-color:var(--color-text);
     --input-color: var(--color-bg-dark);
     --label-color: var(--color-text-muted);
     --title-color:var(--color-text);
     --title-primary-color:var(--color-container);
     --read-color: var(--color-noposter);
     --accent-theme:  #ae8625;
     --logo-color: linear-gradient(
    90deg,
    #7a5c1e,
    #d4af37,
    #f5e6a1,
    #d4af37,
    #7a5c1e
  );
     --logo-hover-color: var(--color-text-muted);
     --menu-color: linear-gradient(
    90deg,
    #7a5c1e,
    #f5e6a1,
    #f5e6a1,
   #f5e6a1,
    #7a5c1e
  );
      --reverse-menu-color: linear-gradient(
  90deg,
  #000 0%,
  #000 30%,
  #1f2937 50%,
  #000 70%,
  #000 100%
);
}

html.dark {
    --badge-color:var(--color-disabled);
    --input-color:var(--color-white);
    --label-color: var(--color-white);
    --title-color:var(--color-disabled);
    --title-primary-color:var(--color-text);
    --logo-hover-color: var(--color-text);
    --logo-color: var(--color-text);
    --read-color: var(--color-text-muted);
    --accent-theme: var(--color-noposter);
    --menu-color: linear-gradient(
    90deg,
    #000 0%,
    #000 30%,
    #1f2937 50%,
    #000 70%,
     #000 100%
    );
    --reverse-menu-color: linear-gradient(
    90deg,
    #7a5c1e,
    #f5e6a1,
    #f5e6a1,
    #f5e6a1,
    #7a5c1e
  );
}
html.light body .burgerMenu,
html.light body {
    background: url("/images/light-background11.jpg") no-repeat center center / cover;
}

html.dark body,
html.dark .burgerMenu {
    background: url("/images/dark-background11.jpg") no-repeat center center / cover;
}

html.dark body.burgerMenu,
html.light body.burgerMenu {
    position: fixed;
    height: 100%;
    background-size: cover;
    overflow-x: hidden;
}